<div class="col-md-3">
    <label>Invoice</label>
</div>
<div class="col-md-9">
   @Html.DropDownList("Invoice", ViewData["invoicelst"] as List<SelectListItem>, "--Select--", new {@class="form-control",@id="srchInvoice" }) 
</div>
