<div class="col-md-3">
    <label>Net</label>
</div>
<div class="col-md-9">
   @Html.DropDownList("Nett", ViewData["nettList"] as List<SelectListItem>, "--Select--", new {@class="form-control",@id="srchNett" })  
</div>
